<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mittens4Kittens</title>
    <script src="/static/fa.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/bulma.min.css">
</head>
<body>
    <nav class="container mb-3 mt-2" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/static/logo.png">
            </a>
        </div>
    </nav>
    <main class="container">
        {% block content %}{% endblock %}
        {% if flag is not none %}
        <footer style="position: absolute; bottom: 0; width: 100%;" class="p-6">
            <article class="message is-success">
                <div class="message-header">
                    <p>XSS Detected!</p>
                </div>
                <div class="message-body">
                    <p>Your answer: <b>{{ flag }}</b></p>
                    <i>(Enter this as your answer for this level on Canvas)</i>
                    <button class="button" onclick="navigator.clipboard.writeText('{{ flag }}'); this.classList.add('is-success'); this.innerText='Copied!';">
                        Copy to clipboard
                    </button>
                </div>
            </article>
        </footer>
        {% endif %}
    </main>
</body>
</html>