<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mittens4Kittens</title>
    <link rel="stylesheet" href="/static/bulma.min.css">
</head>
<body class="container">
    <nav class="level mb-3 mt-2" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/static/logo.png">
            </a>
        </div>
        <div class="level-right">
            <form class="level mb-0" action="/level" method="POST">
                <div>
                    <label class="label" for="xss-level">XSS defense level</label>
                    <div class="control">
                        <select class="select" name="xss-level" onchange="this.form.submit()">
                            <option value="0" {{ "selected" if level == 0 else "" }}>0 (Reflected XSS: No defenses)</option>
                            <option value="1" {{ "selected" if level == 1 else "" }}>1 (Reflected XSS: Deletes script tags)</option>
                            <option value="2" {{ "selected" if level == 2 else "" }}>2 (Reflected XSS: Deletes tags of any type)</option>
                            <option value="3" {{ "selected" if level == 3 else "" }}>3 (Stored XSS: No defenses)</option>
                            <option value="4" {{ "selected" if level == 4 else "" }}>4 (Stored XSS: Client-side escaping)</option>
                        </select>
                    </div>
                </div>
            </form>
            <form class="ml-4" action="/clear" method="POST">
                <input type="submit" class="button" value="Reset stored XSS">
            </form>
        </div>
    </nav>
    {% if flag is not none %}
    <header>
        <article class="message is-success mb-3">
            <div class="message-header">
                <p>XSS successful! <i>(Enter this flag as your answer for this level on Canvas)</i></p>
            </div>
            <div class="message-body">
                <div class="level">
                    <div class="level-left">
                        <div class="is-size-5 mr-3">Flag: <b>{{ flag }}</b></div>
                        <button class="button" onclick="navigator.clipboard.writeText('{{ flag }}'); this.classList.add('is-success'); this.innerText='Copied!';">
                            Copy to clipboard
                        </button>
                    </div>
                </div>
            </div>
        </article>
    </header>
    {% endif %}
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>