{% extends "base.html" %}

{% block content %}
<div class="columns">
    <div class="column">
        <nav class="panel">
            <p class="panel-heading">
                Top seller!
            </p>
            <div class="panel-block">
                <div class="card" style="width: 100%">
                    <div class="card-image">
                        <figure class="image is-3by2">
                            <img src="/static/{{ top.image }}">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">{{ top.name }}</p>
                            </div>
                        </div>
                        <div class="content">
                            <form action="/purchase/{{ top.id }}">
                                <div class="field">
                                    <div class="control">
                                        <input id="purchase" type="submit" class="button is-info is-fullwidth" value="Buy now!">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="column is-three-quarters">
        <section class="container pb-5">
            <form>
                <div class="field has-addons">
                    <div class="control is-expanded">
                        <input class="input" name="query" type="text" value="{{ query }}">
                    </div>
                    <div class="control">
                        <input type="submit" class="button" value="Search">
                    </div>
                </div>
            </form>
        </section>
        
        {% if query %}
        <section class="subtitle">
            {{ results | length }} result{{ "" if results | length == 1 else "s" }} for {{ escaped_query | safe }}
        </section>
        {% endif %}
        
        <section class="columns is-flex is-flex-wrap-wrap">
            {% for item in results %}
            <div class="column is-one-third">
                <a href="/item/{{ item.id }}">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-3by2">
                                <img src="/static/{{ item.image }}">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">${{ item.price }}: {{ item.name }}</p>
                                    <p class="subtitle is-6">{{ item.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </section>
    </div>
</div>
{% endblock %}
